<h1> Log In </h1>
<br>
<%= form_for :user, login_path do |f| %>
Email: <%= f.text_field :email %>
Password: <%= f.password_field :password %>
<%= f.submit "Log In" %>
<% end %>
<br>
<br>
<p>or</p>
<br>
<br>
<p><%= link_to('Login with Google', '/auth/google') %></p>
