<h1> Log In </h1>

<%= form_for :user, sessions_path do |f| %>
Name: <%= f.text_field :name %>
Email: <%= f.text_field :email %>
Password: <%= f.password_field :password %>
<%= f.submit "Log In" %>
<% end %>

<p><%= link_to('Login with Google', '/auth/google') %></p>
