<h1> Log In </h1>
<% if flash[:error] %>
  <div class="error flash-bar flex-container col site-wrapper--padding">
    <p class="flash-type col col--full col--center"><%= flash[:error] %></p>
  </div>
<% end %>
<br>
<%= form_for(@user) do |f| %>
Email: <%= f.text_field :email %>
Password: <%= f.password_field :password %>
<%= f.submit "Log In" %>
<% end %>
<br>
<br>
<p>or</p>
<br>
<br>
<p><%= link_to('Login with Google', '/auth/google_oauth2') %></p>
