<h1>Welcome to Watering Can!</h1>

<% if flash[:error] %>
  <div class="error flash-bar col flex-container site-wrapper--padding">
    <p class="flash-type col col--full col--center"><%= flash[:error] %></p>
  </div>
<% end %>
<% if flash[:success] %>
  <div class="success flash-bar col flex-container site-wrapper--padding">
    <p class="flash-type col col--full col--center"><%= flash[:success] %></p>
  </div>
<% end %>

<h3><%= link_to('Sign Up', signup_path) %></h3>

<h3><%= link_to('Log In', login_path) %></h3>
<br><br>
<p>or</p>
<br><br>
<p><%= link_to('Login with Google', '/auth/google_oauth2') %></p>
