<h1>Sign Up</h1>
<% if flash[:error] %>
  <div class="error flash-bar flex-container col site-wrapper--padding">
    <p class="flash-type col col--full col--center"><%= flash[:error] %></p>
  </div>
<% end %>
<br>
<%= form_for(@user) do |f| %>
Name: <%= f.text_field :name %>
Email: <%= f.text_field :email %>
Password: <%= f.password_field :password %>
Password Confirmation: <%= f.password_field :password_confirmation %>
<%= f.submit "Submit" %>
<% end %>
