<h1>Edit This Plant</h1>
<br>
<%= form_for(@plant, url: dispenser_plant_path(@dispenser, @plant), method: :patch) do |f| %>
Name: <%= f.text_field :name, placeholder: @plant.name %>
Location: <%= f.text_field :location, placeholder: @plant.location %>
Water Quantity (oz): <%= f.select :water_quantity, ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36'], placeholder: @plant.water_quantity %>
Water Frequency (days): <%= f.select :water_frequency, ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31'], placeholder: @plant.water_frequency %>
<%= f.submit "Submit" %>
<% end %>
