<h1><%= @dispenser.name %></h1>
<% if flash[:success] %>
  <div class="success flash-bar flex-container col site-wrapper--padding">
    <p class="flash-type col col--full col--center"><%= flash[:success] %></p>
  </div>
<% end %>

<p><%= link_to("Edit Can", edit_dispenser_path(@dispenser)) %></p>

<p><%= link_to("Add a plant", new_dispenser_plant_path(@dispenser)) %></p>

<ol>
<% @dispenser.plants.each do |plant| %>

  <li><%= link_to(plant.name, dispenser_plant_path(@dispenser, plant)), <%= plant.location %></li>
    <ul>
      <li>Water <%= plant.water_quantity %>oz, every <%= plant.water_frequency %> day(s)</li>
      <% unless plant.next_water_day.blank? && plant.last_day_watered.blank? %>
      <li>Next water day: <%= plant.next_water_day %>, Last day watered: <%= plant.last_day_watered %></li>
      <% end %>
    </ul>
<% end %>
</ol>
