<div class="background editdispb">
<%= render partial: "navbar" %>
<br><br>
<h1>Rename This Dispenser</h1>
<%= form_for(@dispenser, url: dispenser_path(@dispenser), method: :patch) do |f| %>
<%= f.text_field :name, placeholder: @dispenser.name %>
<%= f.submit "Rename Dispenser" %>
<% end %>
<br><br>
<p>or</p>
<br><br>
<%= form_for(@dispenser, url: dispenser_path(@dispenser), method: :delete) do |f| %>
<%= f.submit "Delete this watering can" %>
<% end %>
</div>
