<div class="background dispindexb">
  <%= render partial: "navbar" %>
  <br><br><br>
  <h1 class="center">My Watering Cans</h1>
  <p class="center yeseva">Click on a Can to edit or add plants</p>
  <br>
  <div class="scroll_box">
    <% @dispensers.each do |disp| %>

    <div class="section shadow">
      <div id='<%= disp.id %>-name-container'>
        <h2><%= link_to disp.name, edit_dispenser_path(disp), :class => "disp-font disp-name-edit", :data_id => disp.id %></h2>
      </div>
      <ol class="yeseva">
        <div class="list-container" id=<%= disp.id %>>
          <li><%= link_to "See Plants", dispenser_plants_path(disp), :class => "all_plants", :data_id => disp.id %></li>
        </div>

      </ol>
      <button class="rename-add"><%= link_to("Add a plant", new_dispenser_plant_path(disp)) %></button>
      <button class="rename-add" id="upsize"><%= link_to "Delete dispenser", dispenser_path(disp), :method => :delete %></button>

    </div>
    <% end %>
  </div>
</div>
