<div class="background newdispb">
  <%= render partial: "navbar" %>
  <br><br><br>
  <h1 class="center">Register a New Can</h1>
  <br>
  <div class="center yeseva">
    <%= form_for @dispenser, url: dispensers_path do |f| %>
      Name: <%= f.text_field :name %>
      <br>
      Product Number: <%= f.text_field :product_number %>
      <br>
      Capacity (oz): <%= f.select :capacity, ['24', '36', '48'] %>
      <%= f.submit "Register" %>
    <% end %>
  </div>
</div>
