<% if flash[:notice] || flash[:success] || flash[:error] %>
  <nav class="nav flash-active site-wrapper--padding">
<% else %>
  <nav class="nav site-wrapper--padding">
<% end %>

  <% if flash[:notice] %>
    <div class="notice flash-bar col flex-container site-wrapper--padding">
      <p class="flash-type col col--full col--center"><%= flash[:notice] %></p>
    </div>
    <%= render partial: "watering", locals: { user: @user } %>
  <% elsif flash[:error] %>
    <div class="error flash-bar col flex-container site-wrapper--padding">
      <p class="flash-type col col--full col--center"><%= flash[:error] %></p>
    </div>
  <% elsif flash[:success] %>
    <div class="success flash-bar col flex-container site-wrapper--padding">
      <p class="flash-type col col--full col--center"><%= flash[:success] %></p>
    </div>
  <% end %>

    <div class="flex-container col--v-center">
      <div class="dropdown">
        <button class="dropbtn">
          <div class="burger-line"></div>
          <div class="burger-line"></div>
          <div class="burger-line"></div>
        </button>
        <div class="dropdown-content">
          <%= link_to("Account", user_path(@user)) %>
          <%= link_to("My Watering Cans", dispensers_path) %>
          <%= link_to("Register A New Can", new_dispenser_path) %>
        </div>
      </div>

      <p class="col col--full2 col--center logo_container logo-font">
        <%= link_to("Watering Can", home_path) %></p>

        <div class="col col--right nav-end-link">
          <%= link_to('Log Out', logout_path) %>
        </div>
    </div>
  </nav>
