<!DOCTYPE html>
<html>
  <head>
    <title>WateringCan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if flash[:notice] || flash[:success] || flash[:error] %>
  <body class="flash-active">
  <% else %>
  <body>
  <% end %>
    <%= yield %>
  </body>
</html>
